Bikes/Model/BikeShares.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BikeShares">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BikeShare" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Vendor" type="xs:string" />
              <xs:element name="City" type="xs:string" />
              <xs:element name="Country" type="xs:string" />
              <xs:element name="Url" type="xs:string" />
              <xs:element name="Latitude" type="xs:decimal" />
              <xs:element name="Longitude" type="xs:decimal" />
              <xs:element name="CacheHack" type="xs:unsignedByte" />
              <xs:element name="EndPointStatus" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>